.affiliate-login-field {
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url('/images/home/about-us-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100%
}

.affiliate-login {
    width: 460px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
}

.affiliate-login .field-panel {
    width: 100vh;
}

.affiliate-login .field-panel .tab-buttons {
    margin: 0;
    justify-content: space-between;
    display: flex;
    gap: 10px;
}

.affiliate-login .field-panel .tab-buttons .btn-active {
    background-color: var(--mdb-nav-pills-link-active-bg);
}

.affiliate-login .field-panel .edited-form-control {
    box-shadow: 0.1px 0.1px 2.1px 0.1px #426ff6;
    border: 1px;
    height: 40px;
}

.affiliate-login .field-panel .edited-form-control::placeholder {
    font-size: 10px;
}

.affiliate-login .field-panel .affiliate-login-tab-nav {

    cursor: pointer;
    margin: 0;
}


.affiliate-login .field-panel .recover-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 485px;
    height: 225px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #c3d5da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: pointer;
}


.affiliate-login .field-panel .recover-modal .recover-modal-dialog {
    flex-direction: column;
}

.affiliate-login .field-panel .recover-modal .recover-modal-dialog .recover-modal-text {
    text-align: center;
}

/* Style for the close button */
.affiliate-login .field-panel .recover-modal .recover-modal-dialog .btn-close-modal {
    cursor: pointer;
    width: 150px;
    margin: auto;
    margin-top: 30px;
    background-color: #426ff6;
}